.seller_dashboard {
  height: 100%;
  width: fit-content;
  display: flex;
  flex-direction: column;

  .seller_displayName {
    position: absolute;
    left: 50%;
    font-size: 22px;
    font-weight: bold;
    letter-spacing: 1px;
  }
}
.sellerProducts_container {
  height: fit-content;
  width: 100vw;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  padding: 2rem;
  margin-top: 2rem;
}
