.menu-item{
    min-width: 30%;
    height: 20vw;
    width: 30vw; 
    display: flex;
    flex: auto;
    align-items: center;
    justify-content: center;
    border: .3px solid #000;
    margin: .5vw;
    transition: .4s;
    overflow: hidden;

    &:hover{
        cursor: pointer;

        .background-image{
            transition: 2s ease-out;
            transform: scale(1.2);
        }
        
        .content{
            transition: transform 2s ease-out;
            transform: scale(0.9);
            background-color: rgba(255,255,255,0.8);
        }
    }

    .background-image{
        height: 100%;
        width: 100%;
        background: no-repeat center center/cover;
    }

    .content{
        height: 6vw;
        width: 7vw;
        padding: 0 2.5vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: rgba(255, 255, 255, 0.7);
        border: .3px solid #000;
        position: absolute;

        .tittle{
            font-weight: bold;
            margin-bottom: .2vw;
            font-size: 1.5vw;
            color: #4a4a4a;
        }

        .subtittle{
            font-weight: lighter;
            font-size: 1vw;
        }
    }
}

.large{
    height: 20vw;
}

@media only screen and (max-width: 600px) {
    .menu-item{
        width: 20vh;
    }
  }