$sub-color: grey;
$main-color: black;

@mixin shrinkLabel {
    top: -1vw;
    font-size: 1vw;
    color: $main-color;
}

.group{
    position: relative;
    margin: 4vw 0;

    .form-input{
        background: none;
        background-color: #fff;
        color: $sub-color;
        font-size: 1.2vw;
        padding: .7vw .7vw .7vw .5vw;
        display: block;
        width: 100%;
        border: none;
        border-radius: 0;
        border-bottom: .3px solid $sub-color;
        margin: 4vw 0;
        outline: none;
    }

    &:focus{
        outline: none;
    }

    &:focus ~ .form-input-label{
        @include shrinkLabel();
    }

    input[type='password'] {
        letter-spacing: 0.3em;
    }

    .form-input-label{
        color: $sub-color;
        font-size: 1.2vw;
        font-weight: normal;
        position: absolute;
        pointer-events: none;
        left: 5px;
        top: .7vw;
        transition: 300ms ease all;
    }

    & .shrink{
        @include shrinkLabel();
    }
}

@media only screen and (max-width: 600px){
    .form-input-label{
        font-size: 10px !important; 
        top: -.7vw !important;
    }
}