.collection-preview{
    display: flex;
    flex-direction: column;
    margin-bottom: 2vw;
    
    .title{
        font-size: 2vw;
        margin-bottom: 1.8vw;
    }

    .preview{
        display: flex;
        justify-content: space-between;
    }
}